.Rproj.user/*
*.log
_bookdown_files/quantum-info_cache/*
_bookdown_files/quantum-info_files/figure-html/*.pdf
_bookdown_files/quantum-info_files/figure-latex/*

.DS_Store
*/.DS_Store
*.icloud
.Rproj.user
