.book.font-family-0 {
  font-family: Georgia, serif;
}

.book.font-family-1 {
  font-family: -apple-system, Avenir, Helvetica, Arial, sans-serif;
}

.page-wrapper p {
  text-align: justify;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Margin images */

.marginnote img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Custom environments */

div.idea {
  padding: 1em;
  padding-bottom: 0.15em;
  margin: 2em 1em;
  background: #ddd;
  border: 1px solid #333;
  border-radius: 5px;
}

