@font-face {
  font-family: Cabin;
  src: url(../fonts/Cabin-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Cabin;
  src: url(../fonts/Cabin-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Cabin;
  src: url(../fonts/Cabin-Italic.ttf) format('truetype');
  font-style: italic;
}

.book.font-family-0 {
  font-family: Georgia, serif;
}

.book.font-family-1 {
  font-family: Cabin, -apple-system, Avenir, Helvetica, Arial, sans-serif;
}

.page-wrapper p {
  text-align: justify;
}

.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}



/* Making things look nicer */

/* TOC */

.book .book-summary {
  font-family: Cabin, -apple-system, Avenir, Helvetica, Arial, sans-serif;
  background: #fff;
  border-right: 1px solid #5b84b1;
}

.book .book-summary nav ul.summary > li:first-child {
  /* the "title" of the TOC */
  font-size: 2rem;
  padding-top: 1em;
  padding-bottom: 0.8em;
}
.book .book-summary nav ul.summary > li:first-child a {
  color: #5b84b1;
}

.summary .divider {
  background: #5b84b1 !important;
}

/* Header */

.book-header {
  border-bottom: none !important;
}

.book-header h1 {
  display: none;
}

/* Book */

.book h1,h2,h3 {
  color: #5b84b1;
  border-bottom: 1px solid #5b84b1;
}

.header-section-number:after {
  content: '.';
}

.caption {
  text-align: center !important;
}



/* Figures */

div.figure {
  margin: 2em 0;
  padding: 1em;
  border-left: 3px solid #5b84b1;
  border-right: 3px solid #5b84b1;
}

div.figure p.caption{
  margin: 0;
}



/* Sidenotes */

.navigation-prev, .navigation-next {
  display: none !important;
}

section {
  overflow: visible !important;
}

.page-subject {
  position: relative;
}

.page-sidenote {
  display: none;
}

.has-sidenotes .page-sidenote {
  box-sizing: border-box; /* Add vendor prefixes as needed */
  display: block;
  left: 100%;
  padding-left: 20px; /* Your site’s gutter value */
  position: absolute;
  top: 0;
  width: 240px;
  font-size: 0.9em;
  line-height: normal;
  color: #888;
}

.has-sidenotes .footnotes {
  display: none;
}

.has-sidenotes .footnote-ref {
  display: none;
}

.page-sidenote .footnote-back {
  display: none !important;
}



/* Custom environments */

div.idea {
  padding: 1em;
  margin: 2em 1em;
  border: 5px solid #5b84b1;
  border-radius: 10px;
}

div.idea p {
  margin: 0 !important;
}

div.idea table {
  width: auto !important;
  margin: 0 auto;
}


div.circuit {
  padding: 1em;
  margin: 2em 1em;
  border: 5px solid #b1624e;
  border-radius: 10px;
}

div.circuit::before {
  content: "Circuit.";
  font-weight: bold;
}

div.circuit .circuit_title {
  display: inline;
}

div.circuit .circuit_title p {
  display: inline;
}

div.circuit p {
  margin: 0 !important;
}


div.scenario {
  padding: 1em;
  margin: 2em 1em;
  border: 5px solid #aaa;
  border-radius: 10px;
}

div.scenario::before {
  content: "Scenario.";
  font-weight: bold;
}

div.scenario p {
  margin: 0 !important;
}

div.scenario table {
  width: auto !important;
  margin: 1em auto !important;
}
