blockquote {
  font-style: italic;
}



#TOC ul,
#TOC li,
#TOC span,
#TOC a {
  font-size: 1.1rem;
}

#TOC {
  float: right;
  clear: right;
  width: 40%;
  margin-bottom: 2em;
}

#TOC a {
  text-decoration: none;
}

#TOC ul {
  list-style: none;
}

#TOC > ul > li {
}

#TOC > ul > li > a {
}
