blockquote {
  font-style: italic;
}

h2 {
  position: sticky;
  top: 0;
  background-color: #fffff8;
  z-index: 1;
  padding-top: 1em;
  padding-bottom: 1em;
}

h3 {
  font-size: 1.5rem;
  font-style: italic;
}

#TOC {
  width: 80%;
  line-height: 1.2rem;
  border: 1px dashed black;
  padding: 1rem 2rem;
}

#TOC ul {
  margin: auto;
  list-style-type: none;
  padding-left: 0px;
  -webkit-column-width: 200px;
  -moz-column-width: 200px;
  column-width: 200px;
  font-size: 1.2rem;
}

li > ol {
  width: 80%;
}

.inline {
  font-size: 1.3rem;
}
