body {
  background-color: #fff;
}

blockquote {
  font-style: italic;
}

h2 {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  padding-top: 1em;
  padding-bottom: 1em;
}

h3 {
  font-size: 1.5rem;
  font-style: italic;
}

#TOC {
  line-height: 1.2rem;
  padding: 1rem 2rem;
}

#TOC ul {
  margin: auto;
  list-style-type: none;
  padding-left: 0px;
  font-size: 1.4rem;
}

li > ol {
  width: 80%;
}

.inline {
  font-size: 1.3rem;
}

/* Custom environments */

div.idea {
  width: 50%;
  padding: 0em 1em;
  margin: 2em 0em;
  background: #eee;
  border: 1px solid #333;
  border-radius: 5px;
}

div.idea p {
  width: 100%;
}
