<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
            <li class="p-name"><a href="https://arturekert.org">Artur Ekert</a></li>
            <li class="p-name"><a href="https://thosgood.com">Tim Hosgood</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <p>Built using <a href="https://bookdown.org/">Bookdown</a>.</p>
        <p>Source code for this entire site (including all lecture notes) can be found on GitHub at <a href="https://github.com/thosgood/quantum-info">[thosgood/quantum-info]</a>.</p>
      </div>
    </div>

  </div>

</footer>
