blockquote {
  font-style: italic;
}

h2 {
  position: sticky;
  top: 0;
  background-color: #fffff8;
  z-index: 1;
  padding-top: 1em;
  padding-bottom: 1em;
}

#TOC {
  float: right;
  width: 45%;
  line-height: 0.5rem;
  border: 1px dashed black;
  margin: 2rem;
  position: relative;
  z-index: 2;
}

#TOC ul {
  list-style: none;
  font-size: 1.1rem;
  margin: 0;
  padding: 1.5rem;
}
