@font-face {
  font-family: Cabin;
  src: url(../fonts/Cabin-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Cabin;
  src: url(../fonts/Cabin-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Cabin;
  src: url(../fonts/Cabin-Italic.ttf) format('truetype');
  font-style: italic;
}

.book.font-family-0 {
  font-family: Georgia, serif;
}

.book.font-family-1 {
  font-family: Cabin, -apple-system, Avenir, Helvetica, Arial, sans-serif;
}

.page-wrapper p {
  text-align: justify;
}

.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}



/* Making things look nicer */

/* TOC */

.book .book-summary {
  font-family: Cabin, -apple-system, Avenir, Helvetica, Arial, sans-serif;
  background: #fff;
  border-right: 1px solid #5b84b1;
}

.book .book-summary nav ul.summary > li:first-child {
  /* the "title" of the TOC */
  font-size: 2rem;
  padding: 1em 0;
}
.book .book-summary nav ul.summary > li:first-child a {
  color: #5b84b1;
}

.summary .divider {
  background: #5b84b1 !important;
}

/* Header */

.book-header {
  border-bottom: none !important;
}

.book-header h1 {
  display: none;
}

/* Book */

.book h1,h2,h3 {
  color: #5b84b1;
  border-bottom: 1px solid #5b84b1;
}

.header-section-number:after {
  content: '.';
}

.caption {
  text-align: center !important;
}


/* Compatibility with Tufte images */

/*.marginnote {
  text-align: center !important;
  color: #777 !important;
}

.marginnote img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.fullwidth {
  text-align: center;
}*/



/* Custom environments */

div.idea {
  padding: 1em;
  margin: 2em 1em;
  background: #eee;
  border: 1px solid #333;
  border-radius: 5px;
}

div.idea p {
  margin: 0 !important;
}

div.idea table {
  width: auto !important;
  margin: 0 auto;
}

/*div.tufte-only {
  display: none;
}*/
